<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns:th="http://www.w3.org/1999/xhtml">

    <title>WebScoket</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/reset.min.css">

    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="left">
            <!-- <div class="top">
                 <input type="text" placeholder="搜索">
                 <a href="javascript:;" class="search"></a>
             </div>-->
            <!--联系人列表-->
            <input type="hidden" id="userId" th:value="${user.id}">
            <input type="hidden" id="toId">
            <ul class="people">
                <li class="person" th:each="user:${users}" th:attr="data-chat=${user.id}"
                    th:onclick="clickPerson([[${user.id}]])">
                    <img src="./img/thomas.jpg" alt="">
                    <span class="name" th:text="${user.name}"></span>
                    <span class="time">2:09 PM</span>
                    <span class="preview"></span>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name"></span></span></div>
            <div class="chat" th:each="user:${users}" th:attr="data-chat=${user.id}">
            </div>

            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <input id="content" type="text">

                <a href="javascript:;" class="write-link send"></a>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.js"></script>

<script>

    $(function () {
        //初始化: active为选择联系人css  active-chat为对话显示css
        var person = $("ul li:first.person");
        var name = person.find("span.name").text();
        var fpId = person.attr("data-chat");
        $("div.top span.name").text(name);//初始的顶部显示
        var chat = $("div.chat[data-chat='" + fpId + "']");
        person.addClass("active");
        chat.addClass("active-chat");
        clickPerson(fpId);
        openSocket();
    })

    var socket;

    function openSocket() {
        if (typeof (WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        } else {
            console.log("您的浏览器支持WebSocket");
            var socketUrl = "http://localhost:80/imserver/" + $("#userId").val();
            socketUrl = socketUrl.replace("https", "ws").replace("http", "ws");
            console.log(socketUrl);
            if (socket != null) {
                socket.close();
                socket = null;
            }
            socket = new WebSocket(socketUrl);
            //打开事件
            socket.onopen = function () {
                console.log("websocket已打开");
            };
            //消息事件
            socket.onmessage = function (msg) {
                var obj = msg.data;
                console.log(obj);
                if (isJson(obj)) {//验证是否是json格式
                    obj = JSON.parse(obj);
                    console.log("用户：" + obj.fromUserId + "发来消息");
                    //处理接收到的消息
                    receiveMsg(obj);
                } else {
                    console.log(obj);
                }

            };
            //关闭事件
            socket.onclose = function () {
                console.log("websocket已关闭");
            };
            //发生了错误事件
            socket.onerror = function () {
                console.log("websocket发生了错误");
            }
        }
    }

    function isJson(str) {
        try {
            JSON.parse(str)
            return true
        } catch (e) {
            return false
        }
    }

    function receiveMsg(obj) {
        var chat = $(".chat[data-chat='" + obj.fromUserId + "']");
        chat.append("<div class='bubble you'>" + obj.content + "</div>");
    }

    $(".write-link.send").click(function () {
        sendMessage();
        var toId = $("#toId").val();
        var chat = $("div.chat[data-chat='" + toId + "']");
        var content = $("#content");
        chat.append("<div class='bubble me'>" + content.val() + "</div>");
        content.val("");
    });

    function sendMessage() {

        if (typeof (WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        } else {
            console.log("您的浏览器支持WebSocket");
            console.log('{"toId":"' + $("#toId").val() + '","content":"' + $("#content").val() + '"}');
            socket.send('{"toId":"' + $("#toId").val() + '","content":"' + $("#content").val() + '"}');
        }
    }

    function clickPerson(id) {
        $("#toId").val(id);
    }
</script>
<script src="/js/index.js"></script>

</body>
</html>